name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  site:
    name: Site
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 18

      - name: Setup pnpm
        uses: pnpm/action-setup@v2.2.2
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-store
        run: echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

      - name: Use pnpm store
        uses: actions/cache@v3
        id: pnpm-cache
        with:
          path: ${{ steps.pnpm-store.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Build Website
        working-directory: website
        run: pnpm run export

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: gql-tada
          workingDirectory: website
          directory: dist
